<!DOCTYPE html>
<html>
<head>
    <title>Text File Content</title>
</head>
<body>
    <h1>Text File Content</h1>
    <pre id="file-content">{{ content.content }}</pre>
    
    <!-- 새로운 입력을 보여줄 로그 영역 -->
    <h2>Real-Time Log</h2>
    <ul id="log-list" style="overflow-y: scroll; max-height: 300px;">
        <!-- 이전 로그 항목들을 여기에 추가 -->
    </ul>
    
    <script>
        let oldFileContent = "{{ content.content }}"; // 초기 파일 내용을 저장합니다.
        let logCount = 0; // 로그 항목 개수를 추적합니다.

        function addLogMessage(message) {
            const logList = document.getElementById('log-list');
            const logItem = document.createElement('li');
            logItem.textContent = message;
            logList.appendChild(logItem);
            logCount++;
            
            // 로그 항목이 15개를 초과하면 첫 번째 항목을 제거합니다.
            if (logCount > 15) {
                logList.removeChild(logList.firstChild);
                logCount--;
            }
            
            // 스크롤을 항상 가장 아래로 유지합니다.
            logList.scrollTop = logList.scrollHeight;
        }

        // 웹 소켓 연결
        let wsProtocol = (window.location.protocol === "https:") ? "wss://" : "ws://";
        let socket = new WebSocket(wsProtocol + "ec2-52-78-22-235.ap-northeast-2.compute.amazonaws.com:8080/ws/file_changes/");

        socket.onmessage = function(event) {
            const newContent = event.data;
            const message = `Content Updated: ${oldFileContent} => ${newContent}`;
            addLogMessage(message);
            document.getElementById('file-content').textContent = newContent;
            oldFileContent = newContent; // 변경된 내용을 저장합니다.
        };
    </script>
</body>
</html>